* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    background: #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  h2 {
    text-align: center;
    color: #fff;
  }
  form {
    width: 100%;
  }
  form .form-group {
    margin: 15px 0 5px 0;
    position: relative;
  }
  form .form-group.form-gender {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 20px 0;
  }
  form .form-group.form-gender .gender-label {
    display: inline;
    font-weight: 400;
    margin: 0 4px 0 7px;
    cursor: pointer;
  }
  form .form-group.form-gender input {
    width: initial;
    padding: 5px;
  }
  .phone_and_date_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .phone_and_date_box > input {
    width: 35%;
  }
  .phone_box, .date_box {
    position: relative;
  }
  label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    color: #999;
  }
  input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    color: #fff;
    outline: none;
    transition: border-color 0.2s;
  }
  .form_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  .form_button a {
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
    color: #888;
    background: transparent;
    font-size: 14px;
    border-radius: 5px;
  }
  .form_button a:hover {
    background: rgba(93, 93, 93, 0.722);
  }
  button {
    width: 100%;
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }
  .text {
    width: 100%;
    color: #e74c3c;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    font-size: 12px;
    font-family: sans-serif;
  }
  .login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
  }
  .login-form h2 {
    color: #333;
  }
  .login-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-form .form .input-container {
    position: relative;
    margin: 20px 0;
    width: 100%;
  }
  .login-form .form .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  .login-form .form .input-container input:focus {
    border-color: #0078d4;
  }
  .login-form .form .input-container label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #888;
    transition: 0.3s;
    font-size: 14px;
  }
  .login-form .form .login-button {
    background-color: #0078d4;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .login-form .form .login-button:hover {
    background-color: #0056b3;
  }
  