* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    width: 100%;

    .header {
        width: 100%;
        height: 70px;
        background-color: #2A3D4F;
        padding: 5px 20px 5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .navigation_header {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav_title {
                font-size: 40px;
                font-family: sans-serif;
                color: #fff;
            }

            .menu {
                min-width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                & li {
                    position: relative;
                    width: 100%;
                    min-width: 100px;
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    line-height: 70px;

                    & a {
                        width: 100%;
                        text-align: center;
                        line-height: 70px;
                        text-decoration: none;
                        font-weight: 500;
                        color: #fff;
                        font-family: sans-serif;
                        transition: background-color 0.2s;

                        &:hover {
                            background-color: #334a60;
                        }
                    }
                }

                .submenu {
                    position: absolute;
                    background-color: #2c3e50;
                    width: 100%;
                    top: 70px;
                    left: 0;
                    display: none;

                    & li:hover > .submenu2 {
                        display: block;
                        animation: slideLeft .3s ease;
                    }
                }

                .submenu2 {
                    position: absolute;
                    background-color: #2c3e50;
                    left: 100%;
                    width: 100%;
                    min-width: 100px;
                    top: 0;
                    display: none;
                }

                & li:hover > .submenu {
                    display: block;
                    animation: slideUp .3s ease;
                }
            }

            .logout_link {
                text-decoration: none;
                color: #fff;
                font-family: sans-serif;
                font-size: 16px;
            }

            .account_setting_box {
              display: flex;
              align-items: center;
              gap: 10px;

              .account_name {
                color: #f2f2f2;
                font-size: 12px;
                border-right: 3px solid #f2f2f2;
                padding-right: 5px;
              }
            }
        }
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}



body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007BFF;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

input[type="text"] {
  padding: 5px;
  width: 120px;
  margin: 5px 10px 0 10px;
}

button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 50% 50%;
}

.action-buttons button {
  margin: 5px;
}
