*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #222;
}

.card {
    background-color: #666;
    padding: 5px !important;
}

.img {
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    object-position: center;
}

.action-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
}